{% extends "::base.html.twig" %}

{% block title %}CarteBundle:Main:tourchoice{% endblock %}

{% block body %}
<h1>Welcome to the Main:tourchoice page</h1>
{% for circuit in circuits %}
    {{ circuit.name }} -category {{ circuit.category }} - {{ circuit.avr }}<br>
{% endfor %}
{% endblock %}
